<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs'); -%>
    <link rel="stylesheet" href="/assets/css/dataTable.css" />
    <title>Drawing Together Admin</title>
  </head>

  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs'); -%>
      <div class="container-fluid page-body-wrapper">
        <%- include('partials/navbar.ejs'); -%>
        <div class="main-panel">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <%- include('select-server.ejs'); -%>
                  <div class="row" style="justify-content: space-between; align-items: center">
                    <h4 class="card-title">Employee Table</h4>
                    <button
                      class="btn btn-success create-new-button"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                    >
                      Add new
                    </button>
                  </div>
                  <div class="table-responsive">
                    <table id="myTable" class="table table-striped" style="width: 100%">
                      <thead>
                        <tr>
                          <th>User</th>
                          <th>First name</th>
                          <th>Progress</th>
                          <th>UserName</th>
                          <th>UserName</th>
                          <th>Acction</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('partials/footer.ejs'); -%>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form method="post" action="/admin/table/product/add" class="forms-sample">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add new Product</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <div class="form-group">
                    <label for="input-add-name">Name</label>
                    <input type="text" class="form-control" name="name" id="input-add-name" placeholder="Name" />
                  </div>
                  <div class="form-group">
                    <label for="input-add-import_rice">Import Rice</label>
                    <input
                      type="text"
                      class="form-control"
                      name="import_rice"
                      id="input-add-import_rice"
                      placeholder="Import Rice"
                    />
                  </div>
                  <div class="form-group">
                    <label for="input-add-price">Price</label>
                    <input type="text" class="form-control" name="price" id="input-add-price" placeholder="Price" />
                  </div>
                  <div class="form-group">
                    <label for="input-add-warehouse_id">Warehouse id</label>
                    <select class="form-control" name="warehouse_id" id="input-add-warehouse_id">
                      <option value="WH1" selected>WH1</option>
                      <option value="WH2">WH2</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Modal Edit -->
    <div
      class="modal fade"
      id="exampleModalEdit"
      tabindex="-1"
      aria-labelledby="exampleModalEditLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <form method="post" action="/admin/table/product/update" class="forms-sample">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalEditLabel">Add aaaaaaaaaaaaaaaa new Employee</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <input type="hidden" id="input-id" name="id" value="" />
                  <div class="form-group">
                    <label for="input-name">Name</label>
                    <input type="text" class="form-control" name="name" id="input-name" placeholder="Name" />
                  </div>
                  <div class="form-group">
                    <label for="input-import_rice">Import Rice</label>
                    <input
                      type="text"
                      class="form-control"
                      name="import_rice"
                      id="input-import_rice"
                      placeholder="Import Rice"
                    />
                  </div>
                  <div class="form-group">
                    <label for="input-price">Price</label>
                    <input type="text" class="form-control" name="price" id="input-price" placeholder="Price" />
                  </div>
                  <div class="form-group">
                    <label for="input-warehouse_id">Warehouse id</label>
                    <select class="form-control" name="warehouse_id" id="input-warehouse_id">
                      <option value="WH1" selected>WH1</option>
                      <option value="WH2">WH2</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <%- include('partials/script.ejs'); -%>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function () {
        const table = $('#myTable').DataTable({
          ajax: {
            url: '/admin/table/product/data',
            type: 'GET',
            beforeSend: function (request) {
              request.setRequestHeader(
                'Authorization',
                'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6InRoYW5nIiwic2VydmVyRGF0YWJhc2UiOiJERVNLVE9QLUxJS1NFQjkiLCJpYXQiOjE2NTAwNzkzMzMsImV4cCI6MTY1MjY3MTMzM30.jBCEJq21nv_RtblhzdjeT8lnuSSQpftPMjrtnV9ANGo'
              );
            },
          },
          columns: [
            {
              title: 'PRODUCT_ID',
              render: function (datum, type, row) {
                return `${row.PRODUCT_ID}`;
              },
            },
            {
              title: 'NAME',
              render: function (datum, type, row) {
                return `${row.NAME}`;
              },
            },
            {
              title: 'IMPORT_PRICE',
              render: function (datum, type, row) {
                return `${row.IMPORT_PRICE}`;
              },
            },
            {
              title: 'PRICE',
              render: function (datum, type, row) {
                return `${row.PRICE}`;
              },
            },
            {
              title: 'WAREHOUSE_ID',
              render: function (datum, type, row) {
                return `${row.WAREHOUSE_ID}`;
              },
            },
            {
              title: 'Acction',
              render: function (datum, type, row) {
                return `<button class="btn btn-success" data-bs-toggle="modal"
                      data-bs-target="#exampleModalEdit">Edit</button>
                      <a href="/admin/table/product/delete/${row.PRODUCT_ID}">
                        <button class="btn btn-danger">Delete</button>
                      </a>
                      `;
              },
            },
          ],
        });

        const inputId = $('#input-id');
        const inputName = $('#input-name');
        const inputImportRice = $('#input-import_rice');
        const inputPrice = $('#input-price');
        const inputWarehouseId = $('#input-warehouse_id');

        $('#myTable tbody').on('click', 'button.btn-success', function () {
          var data = table.row($(this).parents('tr')).data();
          inputId.val(data.PRODUCT_ID);
          inputName.val(data.NAME);
          inputImportRice.val(data.IMPORT_PRICE);
          inputPrice.val(data.PRICE);

          $(`#input-warehouse_id option[value="${data.WAREHOUSE_ID.trim()}"]`).attr('selected', true);
        });
      });
    </script>
  </body>
</html>
