<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs'); -%>
    <link rel="stylesheet" href="../assets/css/dataTable.css" />
    <title>Drawing Together Admin</title>
  </head>
  <script>
    console.log('<%= user.NAME %>');
    console.log('<%= serverDatabaseAdmin %>');
  </script>

  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs'); -%>
      <div class="container-fluid page-body-wrapper">
        <%- include('partials/navbar.ejs'); -%>
        <div class="main-panel">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <% if(user.NAME=='Admin' ){ var options=["DESKTOP-LIKSEB9", "DESKTOP-LIKSEB9\\MSSQLSERVER01" ,
                  "DESKTOP-LIKSEB9\\MSSQLSERVER02" ]; var servers=["Server 1", "Server 2" , "Server 3" ]; %>
                  <div style="width: 200px; margin-bottom: 20px">
                    <select class="form-control" name="serverDatabase" id="server" onchange="handleSelect(this)">
                      <% for ( let i=0; i < options.length; i++ ) { var selected=serverDatabaseAdmin==options[i] ?
                      "selected" : "" ; %>
                      <option value="<%= options[i] %>" <%=selected%>><%= servers[i] %></option>
                      <!-- <%=selected%> -->
                      <%}%>
                    </select>
                  </div>
                  <%}%>
                  <div class="row" style="justify-content: space-between; align-items: center">
                    <h4 class="card-title">Employee Table</h4>
                    <button
                      class="btn btn-success create-new-button"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                    >
                      Add new
                    </button>
                  </div>
                  <div class="table-responsive">
                    <table id="myTable" class="table table-striped" style="width: 100%">
                      <thead>
                        <tr>
                          <th>User</th>
                          <th>First name</th>
                          <th>Progress</th>
                          <th>UserName</th>
                          <th>Acction</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('partials/footer.ejs'); -%>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form method="post" action="/admin/table/employee/add" class="forms-sample">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add new Employee</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <div class="form-group">
                    <label for="input-add-name">Name</label>
                    <input type="text" class="form-control" name="name" id="input-add-name" placeholder="Name" />
                  </div>
                  <div class="form-group">
                    <label for="input-add-username">UserName</label>
                    <input
                      type="text"
                      class="form-control"
                      name="username"
                      id="input-add-username"
                      placeholder="UserName"
                    />
                  </div>
                  <div class="form-group">
                    <label for="input-add-password">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      id="input-add-password"
                      placeholder="Password"
                    />
                  </div>
                  <div class="form-group">
                    <label for="input-add-branch-id">Branch id</label>
                    <select class="form-control" name="branch_id" id="input-add-branch-id">
                      <option value="CN1" selected>CN1</option>
                      <option value="CN2">CN2</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="input-add-confirm-password">Confirm Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="input-add-confirm-password"
                      placeholder="Confirm Password"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Modal Edit -->
    <div
      class="modal fade"
      id="exampleModalEdit"
      tabindex="-1"
      aria-labelledby="exampleModalEditLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <form method="post" action="/admin/table/employee/update" class="forms-sample">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalEditLabel">Add aaaaaaaaaaaaaaaa new Employee</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <input type="hidden" class="form-control" name="id" id="input-id" />
                  <div class="form-group">
                    <label for="input-name">Name</label>
                    <input type="text" class="form-control" name="name" id="input-name" placeholder="Name" />
                  </div>
                  <div class="form-group">
                    <label for="input-username">UserName</label>
                    <input
                      type="text"
                      class="form-control"
                      name="username"
                      id="input-username"
                      placeholder="UserName"
                    />
                  </div>
                  <div class="form-group">
                    <label for="input-branch-id">Branch id</label>
                    <select class="form-control" name="branch_id" id="input-branch-id">
                      <option value="CN1" selected>CN1</option>
                      <option value="CN2">CN2</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <%- include('partials/script.ejs'); -%>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function () {
        const table = $('#myTable').DataTable({
          ajax: {
            url: '/admin/table/employee',
            type: 'GET',
            beforeSend: function (request) {
              request.setRequestHeader(
                'Authorization',
                'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6InRoYW5nIiwic2VydmVyRGF0YWJhc2UiOiJERVNLVE9QLUxJS1NFQjkiLCJpYXQiOjE2NTAwNzkzMzMsImV4cCI6MTY1MjY3MTMzM30.jBCEJq21nv_RtblhzdjeT8lnuSSQpftPMjrtnV9ANGo'
              );
            },
          },
          columns: [
            {
              title: 'Employee_Id',
              render: function (datum, type, row) {
                return `${row.EMPLOYEE_ID}`;
              },
            },
            {
              title: 'Branch_Id',
              render: function (datum, type, row) {
                return `${row.BRANCH_ID}`;
              },
            },
            {
              title: 'Name',
              render: function (datum, type, row) {
                return `${row.NAME}`;
              },
            },
            {
              title: 'UserName',
              render: function (datum, type, row) {
                return `${row.USERNAME}`;
              },
            },
            {
              title: 'Acction',
              render: function (datum, type, row) {
                return `<button class="btn btn-success" data-bs-toggle="modal"
                      data-bs-target="#exampleModalEdit">Edit</button>
                      <a href="/admin/table/employee/delete/${row.EMPLOYEE_ID}">
                        <button class="btn btn-danger">Delete</button>
                      </a>
                      `;
              },
            },
          ],
        });

        const inputId = $('#input-id');
        const inputName = $('#input-name');
        const inputUserName = $('#input-username');

        $('#myTable tbody').on('click', 'button.btn-success', function () {
          var data = table.row($(this).parents('tr')).data();
          console.log(data);
          inputId.val(data.EMPLOYEE_ID);
          inputName.val(data.NAME);
          inputUserName.val(data.USERNAME);
          $(`#input-branch-id option[value="${data.BRANCH_ID.trim()}"]`).attr('selected', true);
        });
      });
      function handleSelect(elm) {
        let serverName = '';
        if (elm.value == 'DESKTOP-LIKSEB9') serverName = 'MAIN';
        else if (elm.value == 'DESKTOP-LIKSEB9\\MSSQLSERVER01') serverName = 'SV1';
        else serverName = 'SV2';
        window.location = '/admin/change-server/' + serverName;
      }
    </script>
  </body>
</html>
